  
# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Premake5 dependencies and Project Generate Command
!dependencies/bin/premake5
**.bat