  
# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# GMake file
**Makefile

# Premake5 dependencies and Project Generate Command
premake5
!dependencies/bin/premake5
**.bat